@media screen and (max-width: 1025px){
    /* адаптив для хедера */
    .contain-header{
        max-width: 1024px;
    }

    .image-title{
        max-width: 160px;
    }

    .menu-text{
        font-size: 14px;
    }

    .fa-shopping-cart{
        font-size: 18px;
    }
    /* адаптивы для главной */

    .clad-inside, .title-img{
        max-width: 512px;
    }

    .main-image{
        width: 400px;
    }

    /* карусель адаптирована, но есть мелкие фикс */
    .item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .name{
        font-size: 25px;
        padding: 0;
    }

    .stars{
        font-size: 23px;
    }

    .cost{
        font-size: 33px;
        margin: 0;
    }

    /* адаптивы для about us */
    .about-content{
        height: 300px;
        font-size: 23px;
    }

    .title{
        margin-bottom: 20px;
    }

    /* адаптивы для social media */
    .social-content{
        width: 230px;
    }

    /* адаптивы для футера */
    .footer-container{
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
    }

    .footer-block3{
        width: 100%;
    }

    .left-side, .right-side{
        display: flex;
        flex-direction: column;
    }

    .footer-input{
        margin: 0;
        flex-direction: row;
        justify-content: space-between;
    }

    .right-side{
        justify-content: flex-end;
        margin-bottom: 40px;
        width: 400px;
        margin-right: 30px;
    }

    .left-side{
        padding-left: 45px;
    }

    .input-area{
        width: 300px;
    }

    .send-email{
        left: 250px;
    }

    .footer-block2{
        margin-left: 100px;
    }

    .footer-title{
        font-size: 18px;
    }
}