@media screen and (max-width: 1025px){
    /* адаптив для хедера */
    .contain-header{
        max-width: 1024px;
    }

    .image-title{
        max-width: 160px;
    }

    .menu-text{
        font-size: 14px;
    }

    .fa-shopping-cart{
        font-size: 18px;
    }
    /* адаптивы для главной */

    .clad-inside, .title-img{
        max-width: 512px;
    }

    .main-image{
        width: 400px;
    }

    /* карусель адаптирована, но есть мелкие фикс */
    .item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .name{
        font-size: 25px;
        padding: 0;
    }

    .stars{
        font-size: 23px;
    }

    .cost{
        font-size: 33px;
        margin: 0;
    }

    /* адаптивы для about us */
}
